{% extends 'base.html.twig' %}

{% block body %}
<h1>About this blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor deserunt laboriosam nemo expedita sunt perferendis a doloremque rem maxime, autem aliquid in dolores velit, quos vel voluptatibus! Et, aliquam delectus.</p>
{% endblock %}