{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Add an article</h1>

<p>WORK IN PROGRESS</p>

    {{ form_start(formArticle) }}

    {{ form_widget(formArticle)}}
        
    {{ form_end(formArticle) }}

{% endblock %}