{% extends 'base.html.twig' %}

{% block body %}
<h1>Add an article</h1>

<p>WORK IN PROGRESS</p>

    {{ form_start(formArticle) }}

        <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticle.title) }}
        </div>

        <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticle.content) }}
        </div>

    {{ form_end(formArticle) }}

{% endblock %}