{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Add an article</h1>


    {{ form_start(formArticle) }}

    {{ form_widget(formArticle)}}

    <button type="submit" class="btn btn-success">Add article</button>
        
    {{ form_end(formArticle) }}

{% endblock %}