{% extends 'base.html.twig' %}

{% block title %}Page de remplissage{% endblock %}

{% block body %}
<section class="articles">

<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/01/2019</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, eaque id tenetur laborum amet animi!</p>
        <p>Placeat temporibus vero voluptatum, modi illo optio numquam natus nobis unde iure alias animi itaque!</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/01/2019</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Asperiores vero distinctio facilis eum mollitia, nobis hic esse, nostrum natus fugit, quisquam beatae molestias?</p>
        <p>Dignissimos consequuntur eum temporibus doloribus saepe iste harum voluptates placeat nihil. Sint saepe ipsum illum?</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>
<article>
    <h2>Titre de l'article</h2>
    <div class="metadata">Ecrit le 10/01/2019</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Amet quam et possimus minima blanditiis suscipit repellendus ducimus debitis nam. Sequi quis consectetur voluptatum?</p>
        <p>Laudantium nemo repellendus commodi, qui maiores corrupti sint dicta nobis, aut, sequi doloremque eveniet maxime.</p>
        <a href="" class="btn btn-primary">Lire la suite</a>
    </div>
</article>

</section>

{% endblock %}
