{% extends 'base.html.twig' %}

{% block title %}Page de remplissage{% endblock %}

{% block body %}
<h1>Premiere page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta sed maxime debitis! Molestias officia ut corporis blanditiis cum minus assumenda officiis, nihil placeat? Odio voluptatum quis a, id repellat blanditiis!</p>



{% endblock %}
