{% extends 'base.html.twig' %}

{% block title %}Page de remplissage{% endblock %}

{% block body %}
<section class="articles">

<article>
    <h2>{{ article.title }}</h2>
    <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }}</div>
    <div class="content">
        <img src="{{ article.image }}" alt="">
        {{ article.content | raw }}
        
    </div>
</article>


</section>

{% endblock %}